	fieldset {
		margin:0 0 20px;
		label {
			float:left;
			width:25%;
		}
		input[type="text"], input[type="email"], textarea, select {
			display:block;
			float:left;
			width:45%;
		}
		input[type="text"].error, input[type="email"].error, textarea.error, select.error {
			@include formInputError;
		}
		label.error {
			margin-left:10px;
			color:$errorColor;
		}
	}
	fieldset.required {
			label {
				@include requiredInput;
			}
		}

