#logo {
	background:#ccc;
	width:100px;
	height:50px;
	line-height:50px;
	font-size:20px;
	color:$fontColor1;
	text-align:center;
	margin:0 0 20px;
}

header {
	nav#full-nav {
		display:none;
	}
	nav#mobile-nav {
		
		background:$backgroundColor1;
		padding:5px 20px;
		select {
			width:100%;
		}
	}
}
#cart {
	position:absolute;
	top:0;
	right:0;
}
#support-links {
	position:absolute;
	top:20px;
	right:0px;
	font-size:12px;
}