/* mobile layout view */


#outer-container {
}
.container {
	padding:0 20px;
}

header {
	position:relative;
	margin:0 0 20px;
}

#content-container {
	margin:0 0 20px;
}

#main-content {
}
.main-content-right {
}
.main-content-left {
}

#sidebar {
	min-height:100px;
}

.sidebar-right {
}

.sidebar-left {
}

.sidebar-content {
	border:1px solid $accentColor2;
	padding:10px;
	min-height:500px;
}