##### access control #####

<Files .htaccess>	
	order allow,deny	
	deny from all
</Files>

#disallow directory listing
Options -Indexes +FollowSymlinks

#Use PHP 5.3
#Action application/x-hg-php53 /cgi-sys/php53
#AddHandler application/x-hg-php53 .php 


##### error handling #####	
#ErrorDocument 400 /404.php	
#ErrorDocument 401 /404.php	
#ErrorDocument 403 /404.php
ErrorDocument 404 /404.php	
#ErrorDocument 500 /404.php	


##### rewrites #####
<IfModule mod_rewrite.c>

	RewriteEngine On

	#redirect non-www to www for non-ssl
	RewriteCond %{HTTPS} off	
	RewriteCond %{HTTP_HOST} !^www\.
	RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

	#redirect non-www to www for ssl
	RewriteCond %{HTTPS} on	
	RewriteCond %{HTTP_HOST} !^www\.
	RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

	#force ssl on cart, checkout
	RewriteCond %{HTTPS} off
	RewriteCond %{QUERY_STRING} ^route=checkout
	RewriteCond %{QUERY_STRING} !^route=checkout/cart/update
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

	#force non-ssl on all pages but cart and checkout
	RewriteCond %{HTTPS} on
	RewriteCond %{QUERY_STRING} !^route=checkout 
	RewriteCond %{REQUEST_URI} !^/wp/
	RewriteCond %{REQUEST_URI} !^/store/admin/
	RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
	
	#wordpress
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# exclude opencart
	RewriteCond %{REQUEST_URI} !^/?store/  
 	RewriteRule . /index.php [L]
	
	#OC	
	RewriteBase /store
	RewriteRule sitemap.xml /index.php?route=feed/google_sitemap
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]
		
</IfModule>


##### turn off etags since we're using far future expires and cachbusters #####

<IfModule mod_headers.c>
  Header unset ETag
</IfModule>

FileETag None


##### ChromeFrame for users who have it installed #####
<IfModule mod_headers.c>
    Header set X-UA-Compatible "IE=Edge,chrome=1"
    # mod_headers can't match by content-type, but we don't want to send this header on *everything*...
    <FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|xpi|safariextz|vcf)$" >
      Header unset X-UA-Compatible
    </FilesMatch>
</IfModule>



##### Increase cookie security #####
<IfModule php5_module>
	php_value session.cookie_httponly true
</IfModule>



##### GZIP #####
<IfModule mod_deflate.c>

# Force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
    RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
  </IfModule>
</IfModule>

# HTML, TXT, CSS, JavaScript, JSON, XML, HTC:
<IfModule filter_module>
  FilterDeclare   COMPRESS
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/html
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/css
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/plain
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/x-component
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/javascript
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/json
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/xhtml+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/rss+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/atom+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/vnd.ms-fontobject
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $image/svg+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/x-font-ttf
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $font/opentype
  FilterChain     COMPRESS
  FilterProtocol  COMPRESS  DEFLATE change=yes;byteranges=no
</IfModule>

#<IfModule !mod_filter.c>
  # Legacy versions of Apache
  #AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
  #AddOutputFilterByType DEFLATE application/javascript
  #AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
  #AddOutputFilterByType DEFLATE application/xhtml+xml application/rss+xml application/atom+xml
  #AddOutputFilterByType DEFLATE image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype
#</IfModule>
</IfModule>


##### Far Future Expires Header for all static elements #####
<Files favicon.ico>
    ExpiresActive On
    ExpiresDefault "access plus 10 years"
</Files>