a.button, button.button {
	display:inline-block;
	text-decoration:none;
	color:#fff;
	font-size:12px;
	height:28px;
	line-height:27px;
	padding:0 15px;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	border:0 none;
	font-family:$sansSerif1;
	vertical-align:top;
	@include transition;
	@include rounded(3px);
	@include boxShadow;
	@include textShadow(lighten(#000,40%));
	&:hover {
		background:darken($linkColor1,5%);
	}
}
a.button-primary, button.button-primary {
	background:$linkColor1;
}

a.button-secondary {
	background:$linkColor3;

}
a.button-tertiary {
	background:$linkColor3;

}

a.busy {
	background-color:$linkColor3/2;
}