.comments-list > h3 {
	font-size:18px;
	border-bottom:1px solid $accentColor3;
}
li.comment.depth-1 {
	border-bottom:1px solid $accentColor3;

}
article.comment {
	position:relative;
	padding:20px 60px;
	min-height:50px;
	img.avatar {
		position:absolute;
		left:0;
		top:20px;
	}

}

.comment-content {
	p {
		@include copyStyle($fontSize:13px);
	}

}

li.comment.depth-2 {
	padding-left:60px;
	border-top:1px solid $accentColor3;
}

.reply {
	position:absolute;
	top:20px;
	right:0;
	font-size:.8em;
	 a {
		color:$linkColor3;
	}
}

#respond {
	@import "modules/_form-left-labels.scss";
}