.products-category {
	h1 {
		font-family: "bistro-script-web";
		font-size:36px

	}
	.product-cell {
		width:150px;
		height:300px;
		overflow:hidden;
		float:left;
		margin:10px;
		padding:0 0 10px 0;
		border-bottom:1px solid #efefef;
	}
	.product-img {
		width:150px;
		height:200px;
		
	}
	h3 {
		font-family:"franklin-gothic-urw-cond";
		text-transform:uppercase;
	}
}