.products-detail {
	h1 {
		font-family:"franklin-gothic-urw-cond";
		font-size:30px;
		text-transform:uppercase;
		
	}
	.product-img {
		float:left;
		margin:0 20px 20px 0;
		height:300px;
		width:300px;
		position:relative;
	}
	.large-img {
		/*
		position:relative;
		li {
			position:absolute;
			top:0;
			left:0;
			height:300px;
			width:300px;
			background:#fff;
			display:none;
		}
		li.focus-img {
			display:block;	
		}
		*/
	}
	.small-img {
		height:150px;
		width:150px;
		position:relative;	
		display:none;
		li {
			position:absolute;
			top:0;
			left:0;
			height:150px;
			width:150px;
			background:#fff;
			display:none;
		}
		li.focus-img {
			display:block;	
		}
	}
	.product-info {
		.option {
			margin:0 0 20px;
			position:relative;
		}
		label {
			display:block;
		}
		.required {
			font-weight:bold;
		}
		.error {
			display:block;
			position:absolute;
			top:0;
			right:0;
			@include errorText;
			

		}
		.field-error {
			border:1px solid red;
		}
		
	}
}
.description {
	color:#333;
	margin:20px 0;
	p {
		width:380px;
		font-size:15px;
		line-height:1.5em;
		//font-family: "skolar";
		font-family: "abril-text";
		//font-family: "kepler-std";
		//font-family: "rooney-web";
		//font-family: "georgia";
		margin:1em 0;
	}
}
	
.list {
	.product-img {
		float:left;
		margin:0 20px 20px 0;
	}
}
