#hero {
	margin:0 0 20px;
	height:330px;
	//display: none;
}

.slide {
	position:relative;
	height:300px;
	background:#efefef;
}
.slide img {
	position:absolute;
	left:40px;
	//top:-40px;
}
.slide h1 {
	position:absolute;
	top:40px;
	left:600px;
}
.slide a {
	position:absolute;
	top:80px;
	left:600px;
}

.widgets .widget {
	h2 {
		@include heading6;
	}
	width:278px;
	padding:10px;
	float:left;
	background:#fff; //important to prevent flexslider from affecting type rendering!
	margin-right:20px;
	height:200px;
	overflow:auto;
	@include linkList;
	border:1px solid $accentColor3;
}

.widgets .widget:nth-child(3n) {
	margin-right:0;
}