html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 14px; }

a {
  color: #cc692d; }
  a:hover {
    color: #783e1b;
    text-decoration: none; }

h1 {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 24px;
  margin: 0 0 1em; }

h2 {
  font-size: 18px;
  margin: 0 0 1em; }

p {
  margin: 0 0 1em;
  line-height: 1.5em;
  font-family: georgia, serif; }

input[type="text"] {
  border: 1px solid #cccccc;
  padding: 3px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 12px;
  color: #666666; }

a.button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  height: 28px;
  line-height: 26px;
  padding: 0 15px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 #666666; }
  a.button:hover {
    background: #b75e28; }

a.button-primary {
  background: #cc692d; }

a.button-secondary {
  background: #999999; }

a.button-tertiary {
  background: #999999; }

footer {
  padding: 40px;
  min-height: 300px;
  background: #333333;
  color: #fff; }
  footer li {
    margin: 0 0 5px; }

article {
  padding: 0 0 20px;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 20px;
  position: relative; }
  article ol {
    margin: 0 0 1em; }
    article ol li {
      list-style-type: decimal;
      margin: 0 0 .5em;
      line-height: 1.5em; }

.wp-pagenavi {
  font-family: georgia, serif; }
  .wp-pagenavi .pages {
    margin-right: 10px;
    color: #999999; }
  .wp-pagenavi a, .wp-pagenavi .current {
    padding: 5px 10px;
    margin: 0 4px; }
  .wp-pagenavi .current {
    border-bottom: 2px solid #cccccc; }
  .wp-pagenavi a.page {
    text-decoration: none; }
    .wp-pagenavi a.page:hover {
      background: #efefef; }

.single .product-img {
  float: right;
  margin: 0 0 20px 20px; }

.list .product-img {
  float: left;
  margin: 0 20px 20px 0; }

.widget {
  margin-bottom: 20px; }

.product-info {
  padding: 20px 0; }

.product-filter {
  padding: 5px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px; }
  .product-filter .limit, .product-filter .sort {
    float: right;
    margin-left: 20px; }

.product-images {
  float: left;
  width: 240px; }

.product-description {
  float: left;
  width: 460px;
  margin-left: 20px; }

.cart {
  margin: 20px 0; }

.category-info {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }
  .category-info .image {
    float: left; }

.product-cell {
  width: 200px;
  float: left;
  padding: 20px;
  height: 400px; }
  .product-cell .image {
    background: #cccccc;
    text-align: center;
    height: 150px; }

td, th {
  padding: 5px; }

.cart-info {
  margin: 0 0 20px; }
  .cart-info table {
    width: 100%; }
  .cart-info td {
    vertical-align: top;
    border-bottom: 1px solid #cccccc; }
  .cart-info thead td {
    color: #666666;
    border-bottom: 3px solid #cccccc; }
  .cart-info td.price, .cart-info td.total {
    text-align: right; }
  .cart-info td.remove {
    vertical-align: middle; }
  .cart-info td.quantity {
    text-align: center; }
    .cart-info td.quantity input {
      text-align: center; }
  .cart-info tbody td {
    padding-top: 10px;
    padding-bottom: 10px; }
  .cart-info tbody td.image {
    width: 80px; }

.cart-total {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 20px; }
  .cart-total table {
    float: right; }
  .cart-total td, .cart-total th {
    text-align: right; }
  .cart-total th {
    font-weight: bold; }

#buttons {
  margin: 0 0 20px; }

.checkout-button {
  float: right; }

#categories-menu h4 {
  font-weight: bold; }
#categories-menu ul > li > ul {
  display: none; }

/* iphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #outer-container {
    margin: 0 20px; }

  header {
    position: relative;
    margin: 0 0 20px; }

  #content-container {
    margin: 0 0 20px; }

  .sidebar {
    min-height: 100px; }

  .sidebar-content {
    border: 1px solid #cccccc;
    padding: 10px;
    min-height: 500px; }

  #logo {
    background: #ccc;
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    color: #333333;
    text-align: center;
    margin: 0 0 20px; }

  #hero {
    height: 300px;
    border: 1px solid #ccc;
    margin: 0 0 20px; }

  #promo-tiles div {
    height: 200px;
    background: #ccc;
    margin: 0 0 20px; }

  header nav {
    background: #333333; }
  header nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 12px;
    height: 12px; }

  .current-menu-item {
    background: #666666; }

  .menu-primary-nav-container > ul > li {
    position: relative; }
    .menu-primary-nav-container > ul > li > ul {
      display: none;
      position: absolute;
      top: 42px;
      left: 0;
      background: #191919; }
      .menu-primary-nav-container > ul > li > ul > li {
        width: 200px; }

  #cart {
    position: absolute;
    top: 0;
    right: 0; }

  #support-links {
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 12px; } }
/* iphone4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* iphone4 hi-dpi images */ }
@media only screen
and (min-device-width: 768px) {
  .container {
    width: 940px;
    margin: auto;
    position: relative; }

  header {
    position: relative;
    background: #000;
    z-index: 100; }

  header > .container {
    height: 200px; }

  #content-container {
    padding: 20px 0 60px;
    min-height: 500px; }

  #main-content {
    width: 720px; }

  .main-content-right {
    float: right; }

  .main-content-left {
    float: left; }

  .sidebar {
    width: 200px;
    min-height: 400px; }

  .sidebar-right {
    float: right; }

  .sidebar-left {
    float: left; }

  .sidebar-content {
    border: 1px solid #cccccc;
    padding: 10px;
    min-height: 500px; }

  #logo {
    background: #ccc;
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    position: absolute;
    top: 25px;
    left: 0;
    color: #333333;
    text-align: center; }

  #hero {
    margin: 0 0 20px; }

  .slide {
    position: relative;
    height: 300px; }

  .slide img {
    position: absolute;
    left: 0;
    top: -40px; }

  .slide h1 {
    position: absolute;
    top: 40px;
    left: 600px; }

  .slide a {
    position: absolute;
    top: 80px;
    left: 600px; }

  #promo-tiles div {
    height: 200px;
    background: #ccc;
    width: 300px;
    float: left;
    margin-right: 20px; }

  #promo-tiles div.last {
    margin-right: 0; }

  header nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333333; }
  header nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 12px;
    height: 12px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    header nav a:hover {
      background: #191919; }

  .current-menu-item {
    background: #666666; }

  .menu-primary-nav-container > ul > li {
    position: relative;
    float: left; }
    .menu-primary-nav-container > ul > li > a {
      float: left; }
    .menu-primary-nav-container > ul > li > ul {
      display: none;
      position: absolute;
      top: 42px;
      left: 0;
      background: #191919; }
      .menu-primary-nav-container > ul > li > ul > li {
        width: 200px; }

  #support-links {
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 60px; }

  #cart a {
    display: block;
    position: absolute;
    right: 0;
    background: #cccccc;
    padding: 10px 20px; } }
html {
  overflow: -moz-scrollbars-vertical; }
