html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

h1 {
  font-size: 24px;
  margin: 0 0 1em; }

h2 {
  font-size: 18px;
  margin: 0 0 1em; }

p {
  margin: 0 0 1em;
  line-height: 1.5em; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

article h1 {
  font-size: 1.5em;
  margin: 0 0 1em; }
article h2 {
  font-size: 1.2em;
  margin: 0 0 1em; }
article p {
  margin: 0 0 1em;
  line-height: 1.5em; }
article ol {
  margin: 0 0 1em; }
  article ol li {
    list-style-type: decimal;
    margin: 0 0 .5em;
    line-height: 1.5em; }
