html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/************** text mixins ****************/
/******* lists *******/
/****** forms *******/
/******tables *******/
/* some default styling */
html {
  overflow: -moz-scrollbars-vertical;
  -webkit-font-smoothing: subpixel-antialiased; }

body {
  background-color: white;
  font-family: "abril-text", georgia, serif;
  font-size: 14px; }

a {
  color: #cc692d;
  text-decoration: none; }
  a:hover {
    color: #783e1b;
    text-decoration: underline; }
  a:visited {
    color: #8d491f; }
  a:active {
    color: #a25324; }

strong {
  font-weight: bold; }

/* mobile layout view */
.container {
  padding: 0 20px; }

header {
  position: relative;
  margin: 0 0 20px; }

#content-container {
  margin: 0 0 20px; }

#logo {
  background: #ccc;
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #333333;
  text-align: center;
  margin: 0 0 20px; }

header nav#full-nav {
  display: none; }
header nav#mobile-nav {
  background: #333333;
  padding: 5px 20px; }
  header nav#mobile-nav select {
    width: 100%; }

#cart {
  position: absolute;
  top: 0;
  right: 0; }

#support-links {
  position: absolute;
  top: 20px;
  right: 0px;
  font-size: 12px; }

#hero {
  height: 300px;
  margin: 0 0 20px;
  position: relative;
  margin: 0 0 50px; }

.slide {
  position: relative;
  background: #ccc;
  height: 300px; }

.slide img {
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 0; }

.slide h1 {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 100px; }

.slide a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100px; }

.flex-direction-nav {
  display: none; }

/* mobile recipe category view */
.recipe-cell {
  margin: auto; }

.recipe-img img {
  width: 100%;
  height: auto;
  margin: auto; }

/* mobile cart view */
#shopping-cart .cart-info {
  margin: 0 0 20px; }
  #shopping-cart .cart-info table {
    width: 100%; }
  #shopping-cart .cart-info td {
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #cccccc; }
  #shopping-cart .cart-info thead td {
    color: #666666;
    border-bottom: 3px solid #cccccc;
    vertical-align: top; }
  #shopping-cart .cart-info td.price, #shopping-cart .cart-info td.total {
    text-align: right; }
  #shopping-cart .cart-info tbody td.remove {
    vertical-align: middle; }
  #shopping-cart .cart-info tbody td.name img {
    display: block; }
  #shopping-cart .cart-info td.quantity {
    text-align: center; }
    #shopping-cart .cart-info td.quantity input {
      text-align: center; }
  #shopping-cart .cart-info tbody td {
    padding-top: 10px;
    padding-bottom: 10px; }
#shopping-cart .cart-total {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 20px; }
  #shopping-cart .cart-total table {
    float: right; }
  #shopping-cart .cart-total td, #shopping-cart .cart-total th {
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #cccccc;
    text-align: right; }
  #shopping-cart .cart-total th {
    color: #666666;
    border-bottom: 3px solid #cccccc;
    vertical-align: top;
    font-weight: bold; }
#shopping-cart #buttons {
  margin: 0 0 20px; }
#shopping-cart .checkout-button {
  float: right; }
#shopping-cart td.price {
  display: none; }

.store-checkout h1 {
  font-size: 28px;
  line-height: 1em;
  margin: 0 0 1em;
  font-family: "franklin-gothic-urw-cond", "arial condensed", arial, sans-serif;
  text-transform: uppercase; }
.store-checkout #checkout {
  display: none; }
.store-checkout .checkout-heading {
  background: #cccccc;
  padding: 5px;
  margin: 0 0 10px; }
  .store-checkout .checkout-heading a {
    cursor: pointer;
    margin: 0 0 0 10px;
    color: #666666;
    text-decoration: underline; }
.store-checkout .checkout-section {
  margin: 0 0 20px; }
.store-checkout #shipping-method p {
  font-size: 14px;
  font-family: "abril-text", georgia, serif;
  line-height: 21px;
  margin: 1em 0; }
.store-checkout #shipping-method table {
  width: 75%;
  margin: 0 0 20px; }
.store-checkout #shipping-method th {
  color: #666666;
  border-bottom: 3px solid #cccccc;
  vertical-align: top; }
.store-checkout #shipping-method td {
  padding: 5px;
  vertical-align: top;
  border-bottom: 1px solid #cccccc; }
.store-checkout #payment-method p {
  font-size: 14px;
  font-family: "abril-text", georgia, serif;
  line-height: 21px;
  margin: 1em 0; }

#payment-address fieldset {
  margin: 0 0 20px; }
  #payment-address fieldset input[type="text"], #payment-address fieldset input[type="email"], #payment-address fieldset textarea, #payment-address fieldset select {
    display: block;
    width: 75%; }

#shipping-address fieldset {
  margin: 0 0 20px; }
  #shipping-address fieldset input[type="text"], #shipping-address fieldset input[type="email"], #shipping-address fieldset textarea, #shipping-address fieldset select {
    display: block;
    width: 75%; }

#shipping-method fieldset {
  margin: 0 0 20px; }
  #shipping-method fieldset input[type="text"], #shipping-method fieldset input[type="email"], #shipping-method fieldset textarea, #shipping-method fieldset select {
    display: block;
    width: 75%; }

#payment-method fieldset {
  margin: 0 0 20px; }
  #payment-method fieldset input[type="text"], #payment-method fieldset input[type="email"], #payment-method fieldset textarea, #payment-method fieldset select {
    display: block;
    width: 75%; }

#confirm fieldset {
  margin: 0 0 20px; }
  #confirm fieldset input[type="text"], #confirm fieldset input[type="email"], #confirm fieldset textarea, #confirm fieldset select {
    display: block;
    width: 75%; }

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  /* iphone4 hi-dpi images */ }
/****  imports  ******/
/* common */
footer {
  padding: 40px;
  min-height: 300px;
  background: #333333;
  color: #fff; }
  footer li {
    margin: 0 0 5px; }

.widget {
  margin-bottom: 20px; }

.sidebar-content h2 {
  font-size: 16.8px;
  line-height: 1em;
  margin: 0 0 1em;
  font-weight: bold; }
.sidebar-content .recent-recipes ul li, .sidebar-content .widget_recent_entries ul li {
  margin: 0 0 .25em; }
  .sidebar-content .recent-recipes ul li a, .sidebar-content .widget_recent_entries ul li a {
    text-decoration: none;
    color: #666666;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .sidebar-content .recent-recipes ul li a:hover, .sidebar-content .widget_recent_entries ul li a:hover {
      color: black; }

.comments-list > h3 {
  font-size: 19.6px;
  line-height: 1em;
  margin: 0 0 1em;
  font-family: "abril-text", georgia, serif;
  font-style: italic;
  border-bottom: 3px solid #efefef;
  padding: 0 0 .55em; }
.comments-list > ol {
  margin: 0 0 20px; }

li.comment.depth-1 {
  border-bottom: 1px solid #efefef; }

article.comment {
  position: relative;
  padding: 20px 60px;
  min-height: 50px; }
  article.comment img.avatar {
    position: absolute;
    left: 0;
    top: 20px; }

.comment-content p {
  font-size: 13px;
  font-family: "abril-text", georgia, serif;
  line-height: 19.5px;
  margin: 1em 0; }

li.comment.depth-2 {
  padding-left: 60px;
  border-top: 1px solid #efefef; }

.reply {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: .8em; }
  .reply a {
    color: #999999; }

#respond fieldset {
  margin: 0 0 20px; }
  #respond fieldset label {
    float: left;
    width: 25%; }
  #respond fieldset input[type="text"], #respond fieldset input[type="email"], #respond fieldset textarea, #respond fieldset select {
    display: block;
    float: left;
    width: 45%; }
  #respond fieldset input[type="text"].error, #respond fieldset input[type="email"].error, #respond fieldset textarea.error, #respond fieldset select.error {
    border: 1px solid #8c0000; }
  #respond fieldset label.error {
    margin-left: 10px;
    color: #8c0000; }
#respond fieldset.required label {
  font-weight: bold; }
#respond h3 {
  font-size: 19.6px;
  line-height: 1em;
  margin: 0 0 1em;
  font-family: "abril-text", georgia, serif;
  font-style: italic; }

p.comment-notes {
  font-size: 12.6px;
  font-family: "abril-text", georgia, serif;
  line-height: 18.9px;
  margin: 1em 0;
  color: #666666; }

.form-allowed-tags {
  font-size: 12px;
  font-family: "abril-text", georgia, serif;
  line-height: 18px;
  margin: 1em 0;
  color: #999999; }
  .form-allowed-tags code {
    font-size: 12px;
    font-family: 'Courier New', Courier, 'Lucida Console',  Monaco, monospace;
    line-height: 16.8px;
    margin: .5em 0 0;
    color: #666666; }

#fb-user {
  position: relative;
  padding: 0 0 0 60px;
  min-height: 60px;
  display: block; }
  #fb-user .fb_link img {
    position: absolute;
    left: 0;
    top: 0; }

/****** rating submission ******/
.comment-form-rating span.ratings-js input {
  display: none; }
.comment-form-rating span.ratings-js {
  width: 30px;
  height: 29px;
  display: block;
  float: left;
  cursor: pointer; }
.comment-form-rating .star-ratings {
  position: relative;
  width: 150px;
  height: 30px;
  float: left;
  background-image: file_url("/volumes/drive2/localhost/frictious/static/", "//static.frictio.dev/", "img/assets/stars.png");
  background-position: 0 0;
  background-repeat: repeat; }
.comment-form-rating div.stars-1, .comment-form-rating div.stars-selected-1 {
  background-image: file_url("/volumes/drive2/localhost/frictious/static/", "//static.frictio.dev/", "img/assets/stars.png");
  background-position: 0 -30px;
  background-repeat: repeat; }
.comment-form-rating div.stars-2, .comment-form-rating div.stars-selected-2 {
  background-image: file_url("/volumes/drive2/localhost/frictious/static/", "//static.frictio.dev/", "img/assets/stars.png");
  background-position: 0 -60px;
  background-repeat: repeat; }
.comment-form-rating div.stars-3, .comment-form-rating div.stars-selected-3 {
  background-image: file_url("/volumes/drive2/localhost/frictious/static/", "//static.frictio.dev/", "img/assets/stars.png");
  background-position: 0 -90px;
  background-repeat: repeat; }
.comment-form-rating div.stars-4, .comment-form-rating div.stars-selected-4 {
  background-image: file_url("/volumes/drive2/localhost/frictious/static/", "//static.frictio.dev/", "img/assets/stars.png");
  background-position: 0 -120px;
  background-repeat: repeat; }
.comment-form-rating div.stars-5, .comment-form-rating div.stars-selected-5 {
  background-image: file_url("/volumes/drive2/localhost/frictious/static/", "//static.frictio.dev/", "img/assets/stars.png");
  background-position: 0 -150px;
  background-repeat: repeat; }

/****** rating widget display ******/
.ranked-recipes li {
  margin: 0 0 5px;
  border-top: 1px solid #efefef;
  padding: 5px 0; }
  .ranked-recipes li .rating {
    float: right;
    display: block;
    position: relative;
    text-indent: -9999em;
    width: 74px;
    height: 15px;
    background-image: file_url("/volumes/drive2/localhost/frictious/static/", "//static.frictio.dev/", "img/assets/stars-small.png");
    background-position: 0 0;
    background-repeat: repeat; }
  .ranked-recipes li .rating-stars {
    display: block;
    position: absolute;
    height: 100%;
    background-image: file_url("/volumes/drive2/localhost/frictious/static/", "//static.frictio.dev/", "img/assets/stars-small.png");
    background-position: 0 -15px;
    background-repeat: repeat; }

.recipe-single .rating {
  display: block;
  position: relative;
  width: 150px;
  height: 30px;
  background-image: file_url("/volumes/drive2/localhost/frictious/static/", "//static.frictio.dev/", "img/assets/stars.png");
  background-position: 0 0;
  background-repeat: repeat; }
.recipe-single .rating-stars {
  position: absolute;
  height: 100%;
  background-image: file_url("/volumes/drive2/localhost/frictious/static/", "//static.frictio.dev/", "img/assets/stars.png");
  background-position: 0 -150px;
  background-repeat: repeat; }
.recipe-single .average, .recipe-single .count {
  position: relative;
  top: 35px;
  font-size: 11.998px;
  font-family: "abril-text", georgia, serif;
  line-height: 17.997px;
  margin: 1em 0;
  color: #999999; }

/****** buttons *******/
a.button, button.button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  height: 32px;
  line-height: 31px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border: 0 none;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  vertical-align: top;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }

a.button-primary, button.button-primary {
  background: #cc692d; }
  a.button-primary:hover, button.button-primary:hover {
    background: #b75e28; }

a.button-secondary {
  background: #999999; }
  a.button-secondary:hover {
    background: #8c8c8c; }

a.button-tertiary {
  background: #999999; }
  a.button-tertiary:hover {
    background: #8c8c8c; }

a.busy {
  color: gray;
  background-color: #4c4c4c; }
  a.busy:hover {
    background-color: #4c4c4c; }

/****** notifications *****/
#notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #efefef;
  color: #333;
  z-index: 1000; }
  #notification .container {
    padding: 10px; }
  #notification a {
    color: #333;
    text-decoration: none; }

/****** pagination *******/
.wp-pagenavi {
  font-family: "abril-text", georgia, serif; }
  .wp-pagenavi .pages {
    margin-right: 10px;
    color: #999999; }
  .wp-pagenavi a, .wp-pagenavi .current {
    padding: 5px 10px;
    margin: 0 4px; }
  .wp-pagenavi .current {
    border-bottom: 2px solid #cccccc; }
  .wp-pagenavi a.page {
    text-decoration: none; }
    .wp-pagenavi a.page:hover {
      background: #efefef; }

/***** forms *****/
fieldset input[type="email"], fieldset input[type="text"], fieldset input[type="password"], fieldset textarea, fieldset select {
  border: 1px solid #cccccc;
  padding: 5px 10px;
  font-family: "abril-text", georgia, serif;
  font-size: 14px;
  background: #fcfcfc;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  -box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }
  fieldset input[type="email"]:focus, fieldset input[type="text"]:focus, fieldset input[type="password"]:focus, fieldset textarea:focus, fieldset select:focus {
    background: #fcfcfc;
    border: 1px solid #b3b3b3;
    -webkit-box-shadow: none 0px 0px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: none 0px 0px 5px rgba(0, 0, 0, 0.1);
    -box-shadow: none 0px 0px 5px rgba(0, 0, 0, 0.1); }
fieldset label {
  padding: 6px 0; }

fieldset.required label {
  font-weight: bold; }
fieldset.required label.error {
  color: #8c0000;
  font-weight: normal; }
fieldset.required input[type="text"].error, fieldset.required input[type="email"].error, fieldset.required textarea.error, fieldset.required select.error {
  border: 1px solid #8c0000; }

/****** social elements *******/
.social-elements {
  order-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef; }
  .social-elements span {
    display: block;
    float: left; }

.blog-single article.primary {
  border-bottom: 1px solid #efefef;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  /* wordpress image & caption class hook styling */ }
  .blog-single article.primary h1 {
    font-size: 28px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "franklin-gothic-urw-cond", "arial condensed", arial, sans-serif;
    text-transform: uppercase; }
  .blog-single article.primary h2 {
    font-size: 23.8px;
    line-height: 1em;
    margin: 0 0 .5em;
    font-family: "abril-text", georgia, serif; }
  .blog-single article.primary h3 {
    font-size: 19.6px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "abril-text", georgia, serif;
    font-style: italic; }
  .blog-single article.primary h4 {
    font-size: 16.8px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "rooney-web", georgia, serif;
    font-style: italic; }
  .blog-single article.primary h5 {
    font-size: 16.8px;
    line-height: 1em;
    margin: 0 0 1em;
    font-weight: bold; }
  .blog-single article.primary h6 {
    font-size: 14px;
    line-height: 1em;
    margin: 0 0 1em;
    font-weight: bold; }
  .blog-single article.primary p {
    font-size: 14px;
    font-family: "abril-text", georgia, serif;
    line-height: 21px;
    margin: 1em 0; }
  .blog-single article.primary ol {
    list-style-type: decimal;
    margin: 1.5em; }
    .blog-single article.primary ol li {
      margin: 0 0 .5em;
      line-height: 1.5em; }
  .blog-single article.primary ul {
    list-style-type: disc;
    margin: 1.5em; }
    .blog-single article.primary ul li {
      margin: 0 0 .5em;
      line-height: 1.5em; }
  .blog-single article.primary blockquote {
    border-left: 3px solid #cccccc;
    padding: 0 5%; }
    .blog-single article.primary blockquote p {
      font-style: italic;
      color: #999999;
      font-family: "rooney-web", georgia, serif;
      font-size: 24px;
      line-height: 1.2em; }
  .blog-single article.primary .wp-caption {
    max-width: 100%; }
    .blog-single article.primary .wp-caption img {
      display: block;
      height: auto;
      max-width: 100%; }
    .blog-single article.primary .wp-caption p {
      font-size: 11.998px;
      font-family: "helvetica neue", helvetica, arial, sans-serif;
      line-height: 16.797px;
      margin: .5em 0 0;
      color: #666666; }
  .blog-single article.primary .aligncenter, .blog-single article.primary .alignleft, .blog-single article.primary .alignright, .blog-single article.primary .alignnone {
    height: auto;
    max-width: 100%; }
  .blog-single article.primary .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .blog-single article.primary .alignleft {
    float: left;
    margin: 0 1em 1em 0; }
  .blog-single article.primary .alignright {
    float: right;
    margin: 0 0 1em 1em; }
  .blog-single article.primary embed {
    width: 100%;
    height: 100%; }

.blog-category article {
  border-bottom: 1px solid #efefef;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  /* wordpress image & caption class hook styling */ }
  .blog-category article h1 {
    font-size: 28px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "franklin-gothic-urw-cond", "arial condensed", arial, sans-serif;
    text-transform: uppercase; }
  .blog-category article h2 {
    font-size: 23.8px;
    line-height: 1em;
    margin: 0 0 .5em;
    font-family: "abril-text", georgia, serif; }
  .blog-category article h3 {
    font-size: 19.6px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "abril-text", georgia, serif;
    font-style: italic; }
  .blog-category article h4 {
    font-size: 16.8px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "rooney-web", georgia, serif;
    font-style: italic; }
  .blog-category article h5 {
    font-size: 16.8px;
    line-height: 1em;
    margin: 0 0 1em;
    font-weight: bold; }
  .blog-category article h6 {
    font-size: 14px;
    line-height: 1em;
    margin: 0 0 1em;
    font-weight: bold; }
  .blog-category article p {
    font-size: 14px;
    font-family: "abril-text", georgia, serif;
    line-height: 21px;
    margin: 1em 0; }
  .blog-category article ol {
    list-style-type: decimal;
    margin: 1.5em; }
    .blog-category article ol li {
      margin: 0 0 .5em;
      line-height: 1.5em; }
  .blog-category article ul {
    list-style-type: disc;
    margin: 1.5em; }
    .blog-category article ul li {
      margin: 0 0 .5em;
      line-height: 1.5em; }
  .blog-category article blockquote {
    border-left: 3px solid #cccccc;
    padding: 0 5%; }
    .blog-category article blockquote p {
      font-style: italic;
      color: #999999;
      font-family: "rooney-web", georgia, serif;
      font-size: 24px;
      line-height: 1.2em; }
  .blog-category article .wp-caption {
    max-width: 100%; }
    .blog-category article .wp-caption img {
      display: block;
      height: auto;
      max-width: 100%; }
    .blog-category article .wp-caption p {
      font-size: 11.998px;
      font-family: "helvetica neue", helvetica, arial, sans-serif;
      line-height: 16.797px;
      margin: .5em 0 0;
      color: #666666; }
  .blog-category article .aligncenter, .blog-category article .alignleft, .blog-category article .alignright, .blog-category article .alignnone {
    height: auto;
    max-width: 100%; }
  .blog-category article .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .blog-category article .alignleft {
    float: left;
    margin: 0 1em 1em 0; }
  .blog-category article .alignright {
    float: right;
    margin: 0 0 1em 1em; }
  .blog-category article embed {
    width: 100%;
    height: 100%; }

.page-default article.primary {
  border-bottom: 1px solid #efefef;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  /* wordpress image & caption class hook styling */ }
  .page-default article.primary h1 {
    font-size: 28px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "franklin-gothic-urw-cond", "arial condensed", arial, sans-serif;
    text-transform: uppercase; }
  .page-default article.primary h2 {
    font-size: 23.8px;
    line-height: 1em;
    margin: 0 0 .5em;
    font-family: "abril-text", georgia, serif; }
  .page-default article.primary h3 {
    font-size: 19.6px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "abril-text", georgia, serif;
    font-style: italic; }
  .page-default article.primary h4 {
    font-size: 16.8px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "rooney-web", georgia, serif;
    font-style: italic; }
  .page-default article.primary h5 {
    font-size: 16.8px;
    line-height: 1em;
    margin: 0 0 1em;
    font-weight: bold; }
  .page-default article.primary h6 {
    font-size: 14px;
    line-height: 1em;
    margin: 0 0 1em;
    font-weight: bold; }
  .page-default article.primary p {
    font-size: 14px;
    font-family: "abril-text", georgia, serif;
    line-height: 21px;
    margin: 1em 0; }
  .page-default article.primary ol {
    list-style-type: decimal;
    margin: 1.5em; }
    .page-default article.primary ol li {
      margin: 0 0 .5em;
      line-height: 1.5em; }
  .page-default article.primary ul {
    list-style-type: disc;
    margin: 1.5em; }
    .page-default article.primary ul li {
      margin: 0 0 .5em;
      line-height: 1.5em; }
  .page-default article.primary blockquote {
    border-left: 3px solid #cccccc;
    padding: 0 5%; }
    .page-default article.primary blockquote p {
      font-style: italic;
      color: #999999;
      font-family: "rooney-web", georgia, serif;
      font-size: 24px;
      line-height: 1.2em; }
  .page-default article.primary .wp-caption {
    max-width: 100%; }
    .page-default article.primary .wp-caption img {
      display: block;
      height: auto;
      max-width: 100%; }
    .page-default article.primary .wp-caption p {
      font-size: 11.998px;
      font-family: "helvetica neue", helvetica, arial, sans-serif;
      line-height: 16.797px;
      margin: .5em 0 0;
      color: #666666; }
  .page-default article.primary .aligncenter, .page-default article.primary .alignleft, .page-default article.primary .alignright, .page-default article.primary .alignnone {
    height: auto;
    max-width: 100%; }
  .page-default article.primary .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .page-default article.primary .alignleft {
    float: left;
    margin: 0 1em 1em 0; }
  .page-default article.primary .alignright {
    float: right;
    margin: 0 0 1em 1em; }
  .page-default article.primary embed {
    width: 100%;
    height: 100%; }

/****** product single view *******/
.products-single article.primary h1 {
  font-size: 28px;
  line-height: 1em;
  margin: 0 0 1em;
  font-family: "franklin-gothic-urw-cond", "arial condensed", arial, sans-serif;
  text-transform: uppercase; }
.products-single article.primary .product-img {
  float: left;
  margin: 0 20px 20px 0;
  height: 300px;
  width: 300px;
  position: relative; }
.products-single article.primary .large-img {
  /*
  position:relative;
  li {
  	position:absolute;
  	top:0;
  	left:0;
  	height:300px;
  	width:300px;
  	background:#fff;
  	display:none;
  }
  li.focus-img {
  	display:block;	
  }
  */ }
.products-single article.primary .small-img {
  height: 150px;
  width: 150px;
  position: relative;
  display: none; }
  .products-single article.primary .small-img li {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    background: #fff;
    display: none; }
  .products-single article.primary .small-img li.focus-img {
    display: block; }
.products-single article.primary .product-info {
  background: #fff; }
  .products-single article.primary .product-info .option {
    margin: 0 0 20px;
    position: relative; }
  .products-single article.primary .product-info label {
    display: block; }
  .products-single article.primary .product-info .required {
    font-weight: bold; }
  .products-single article.primary .product-info .error {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: red; }
  .products-single article.primary .product-info .field-error {
    border: 1px solid red; }
.products-single .description {
  margin: 20px 0; }
  .products-single .description p {
    font-size: 14px;
    font-family: "abril-text", georgia, serif;
    line-height: 21px;
    margin: 1em 0; }
.products-single .list .product-img {
  float: left;
  margin: 0 20px 20px 0; }

/**** product category view *****/
.products-category h1 {
  font-size: 28px;
  line-height: 1em;
  margin: 0 0 1em;
  font-family: "franklin-gothic-urw-cond", "arial condensed", arial, sans-serif;
  text-transform: uppercase; }
.products-category .product-cell {
  width: 150px;
  height: 300px;
  overflow: hidden;
  float: left;
  margin: 10px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #efefef; }
.products-category .product-img {
  width: 150px;
  height: 200px; }
.products-category h3 {
  font-size: 16.8px;
  line-height: 1em;
  margin: 0 0 1em;
  font-weight: bold; }

.recipe-single article.primary {
  /***** nutrition label *****/ }
  .recipe-single article.primary h1 {
    font-size: 28px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "franklin-gothic-urw-cond", "arial condensed", arial, sans-serif;
    text-transform: uppercase; }
  .recipe-single article.primary h2 {
    font-size: 23.8px;
    line-height: 1em;
    margin: 0 0 .5em;
    font-family: "abril-text", georgia, serif; }
  .recipe-single article.primary h3 {
    font-size: 19.6px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "abril-text", georgia, serif;
    font-style: italic; }
  .recipe-single article.primary h4 {
    font-size: 16.8px;
    line-height: 1em;
    margin: 0 0 1em;
    font-family: "rooney-web", georgia, serif;
    font-style: italic; }
  .recipe-single article.primary h5 {
    font-size: 16.8px;
    line-height: 1em;
    margin: 0 0 1em;
    font-weight: bold; }
  .recipe-single article.primary h6 {
    font-size: 14px;
    line-height: 1em;
    margin: 0 0 1em;
    font-weight: bold; }
  .recipe-single article.primary .recipe-img img {
    max-width: 100%;
    height: auto; }
  .recipe-single article.primary .recipe-img ul {
    list-style-type: none;
    margin: 0; }
  .recipe-single article.primary .recipe-img li {
    line-height: 1;
    margin: 0; }
  .recipe-single article.primary .rating {
    float: right; }
  .recipe-single article.primary dl {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 12.6px; }
    .recipe-single article.primary dl dt {
      font-weight: bold;
      width: 100px;
      float: left;
      clear: left;
      line-height: 1.5em; }
    .recipe-single article.primary dl dd {
      float: left;
      margin-left: 10px;
      width: 100px;
      line-height: 1.5em; }
  .recipe-single article.primary p {
    font-size: 14px;
    font-family: "abril-text", georgia, serif;
    line-height: 21px;
    margin: 1em 0; }
  .recipe-single article.primary ol {
    list-style-type: decimal;
    margin: 1.5em; }
    .recipe-single article.primary ol li {
      margin: 0 0 .5em;
      line-height: 1.5em; }
  .recipe-single article.primary ul {
    list-style-type: disc;
    margin: 1.5em; }
    .recipe-single article.primary ul li {
      margin: 0 0 .5em;
      line-height: 1.5em; }
  .recipe-single article.primary .nutrition-label {
    font-family: helvetica,arial,sans-serif;
    width: 220px;
    padding: 10px;
    border: 1px solid #efefef;
    font-size: 12px; }
    .recipe-single article.primary .nutrition-label h2 {
      font-family: helvetica,arial,sans-serif;
      font-weight: bold;
      margin: 0;
      font-size: 24px; }
    .recipe-single article.primary .nutrition-label table {
      width: 100%; }
    .recipe-single article.primary .nutrition-label th, .recipe-single article.primary .nutrition-label td {
      border-bottom: 1px solid #efefef;
      padding: 3px 0; }
    .recipe-single article.primary .nutrition-label thead th, .recipe-single article.primary .nutrition-label thead td {
      border-bottom: 1px solid #efefef;
      padding: 1px 0; }
    .recipe-single article.primary .nutrition-label td {
      text-align: right;
      font-weight: bold; }
    .recipe-single article.primary .nutrition-label thead th, .recipe-single article.primary .nutrition-label thead td {
      border: 0 none; }
    .recipe-single article.primary .nutrition-label .indent {
      padding-left: 5px; }
    .recipe-single article.primary .nutrition-label .percent-value {
      font-size: 80%; }
    .recipe-single article.primary .nutrition-label .servings {
      padding: 0 0 3px;
      border-bottom: 10px solid #cccccc; }
    .recipe-single article.primary .nutrition-label .protein {
      border-bottom: 10px solid #cccccc; }
    .recipe-single article.primary .nutrition-label .calories {
      border-bottom: 3px solid #cccccc; }
    .recipe-single article.primary .nutrition-label td.calories {
      font-weight: normal; }
    .recipe-single article.primary .nutrition-label .footnote {
      font-size: 80%;
      color: #666666;
      border-bottom: 0 none; }

.list-tips p {
  font-size: 12.6px;
  font-family: "abril-text", georgia, serif;
  line-height: 18.9px;
  margin: 1em 0;
  color: #666666; }
