.blog-single {
	article.primary {
		border-bottom:1px solid #efefef;
		padding:0 0 20px 0;
		margin:0 0 20px 0;
		@import "modules/_blog-content-style.scss";
		@import "modules/_blog-media.scss";
	}
}



/*
article {
	padding:0 0 20px;
	border-bottom:1px solid $AccentColor2;
	margin:0 0 20px;
	position:relative;
	
	ol {
		margin:0 0 1em;
		li {
			list-style-type:decimal;
			margin:0 0 .5em;
			line-height:$bodyCopyLineHeight;
		}
	}
	
	
}
*/