//color

$canvasColor:#fff;

$fontColor1:#333;
$fontColor2:#666;
$fontColor3:#999;

$linkColor1:#cc692d;
$linkColor2:#666;
$linkColor3:#999;
$fontColor4:#fff;
$fontColor5:#ccc;
$fontColor6:#777;

$errorColor:#8c0000;
$warningColor:blue;


$backgroundColor1:#333;
$accentColor1:#666;
$accentColor2:#ccc;
$accentColor3:#efefef;

//type


//font-family: "skolar";
//font-family: "abril-text";
//font-family: "kepler-std";
//font-family: "rooney-web";
//font-family: "georgia";
//font-family:"franklin-gothic-urw-cond";

$serif1:'abril-text',georgia,serif;
$serif2: 'rooney-web',georgia,serif; 
$sansSerif1:'helvetica neue',helvetica,arial, sans-serif;
$titling1:'franklin-gothic-urw-cond','arial condensed',arial,sans-serif;

$baseFontSize:14px;
$baseLineHeight: 1.5em;

//units
$unit1:1px;
$unit2:2px;
$unit3:3px;
$unit5:5px;
$unit10:10px;

//mixins

@mixin errorText {
	color:red;
}
@mixin knockoutError {
	color:#fff;
	background:red;
}

@mixin rounded($radius:3px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;

}

@mixin boxShadow($inset:none,$x:0px, $y:1px, $blur:3px, $h:0, $s:0%, $l:0%, $a:.1) {
	-webkit-box-shadow:$inset $x $y $blur hsla($h,$s,$l,$a);
	   -moz-box-shadow:$inset $x $y $blur hsla($h,$s,$l,$a);
	       -box-shadow:$inset $x $y $blur hsla($h,$s,$l,$a);
}

@mixin textShadow($x:0px, $y:-1px, $blur:0px, $h:0, $s:100%, $l:100%, $a:.7) {
	text-shadow:$x $y $blur hsla($h,$s,$l,$a);
}

@mixin transition {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}


@mixin backgroundImage($path, $position:0 0, $repeat:no-repeat) { //example usage: @include backgroundImage('img/assets/home-hero-background.png',0 0,repeat);
	background: {
		image:file_url($staticFilePath,$staticHost,$path);
		position:$position;
		repeat:$repeat;
	}	
}

@mixin textInputs {
	padding:3px;
	font-family:$sansSerif1;
	font-size:12px;
	color:$fontColor2;
}




/************** text mixins ****************/

@mixin heading1($fontSize:($baseFontSize * 2)) {

	font-size:$fontSize;
	line-height:1em;
	margin:0 0 1em;
	font-family:$titling1;
	text-transform:uppercase;
}

@mixin heading2($fontSize:($baseFontSize * 1.7 )) {
	font-size:$fontSize;
	line-height:1em;
	margin:0 0 .5em;
	font-family:$serif1;
}

@mixin heading3($fontSize:($baseFontSize * 1.4)) {
	font-size:$fontSize;
	line-height:1em;
	margin:0 0 1em;
	font-family:$serif1;
	font-style:italic;
}
@mixin heading4($fontSize:($baseFontSize * 1.2)) {
	font-size:$fontSize;
	line-height:1em;
	margin:0 0 1em;
	font-family:$serif2;
	font-style:italic;
	//font-weight:bold;
}
@mixin heading5($fontSize:($baseFontSize * 1.2)) {
	font-size:$fontSize;
	line-height:1em;
	margin:0 0 1em;
	font-weight:bold;
}
@mixin heading6($fontSize:$baseFontSize) {
	font-size:$fontSize;
	line-height:1em;
	margin:0 0 1em;
	font-weight:bold;
}


@mixin copyStyle1($fontSize:$baseFontSize) {
	font-size:$fontSize;
	font-family:$serif1;
	line-height:$fontSize*1.5;
	margin:1em 0;
}
@mixin copyStyle2($fontSize:$baseFontSize*.9) {
	font-size:$fontSize;
	font-family:$serif1;
	line-height:$fontSize*1.5;
	margin:1em 0;
	color:$fontColor2;
}
@mixin copyStyle3($fontSize:$baseFontSize*.857) {
	font-size:$fontSize;
	font-family:$serif1;
	line-height:$fontSize*1.5;
	margin:1em 0;
	color:$fontColor3;
}

@mixin captionStyle1($fontSize:$baseFontSize*.857) {
	font-size:$fontSize;
	font-family:$sansSerif1;
	line-height:($fontSize*1.4);
	margin:.5em 0 0;
	color:$fontColor2;
}

@mixin codeStyle1($fontSize:$baseFontSize) {
	font-size:$fontSize;
	font-family: 'Courier New', Courier, 'Lucida Console',  Monaco, monospace;
	line-height:($fontSize*1.4);
	margin:.5em 0 0;
	color:$fontColor2;
}

/******* lists *******/
@mixin bullList {
	list-style-type:disc;
	margin:1.5em;
	li {
		margin:0 0 .5em;
		line-height:($baseLineHeight);
	}
	
}

@mixin numList {
	list-style-type:decimal;
	margin:1.5em;
	li {
		margin:0 0 .5em;
		line-height:($baseLineHeight);
	}
	
}

@mixin linkList { //corresponds to ul element
	li {
		margin:0 0 .25em;
		a {
			text-decoration:none;
			color:$linkColor2;
			//display:block;
			@include transition;
			&:hover {
				color:darken($linkColor2,50%);		
			}
		}
	}
}

/****** forms *******/
@mixin inputField {
	border:1px solid $accentColor2;
	padding:5px 10px;
	font-family:$serif1;
	font-size:$baseFontSize;
	background:lighten($accentColor3,5);
	@include boxShadow(inset,0px,0px,5px,0,0%,0%,.1);
	
}
@mixin inputFocus {
	background:lighten($accentColor3,5%);	
	border:1px solid darken($accentColor2,10%);
	@include boxShadow(none,0px,0px,5px,0,0%,0%,.1);
}

@mixin formInputError {
	border: 1px solid $errorColor;
}

@mixin requiredInput {
	font-weight: bold;
}


/******tables *******/

@mixin tableCell {
	padding:5px;
	vertical-align: top;
	border-bottom:1px solid $accentColor2;
}

@mixin columnHead {
	color:$fontColor2;
	border-bottom:3px solid $accentColor2;
	vertical-align:top;

}





/* some default styling */
html {
	overflow: -moz-scrollbars-vertical;
	-webkit-font-smoothing: subpixel-antialiased;
}


body {
	background-color:$canvasColor;
	font-family:$serif1;
	font-size:$baseFontSize;
}

a {
	color:$linkColor1;
	text-decoration:none;
	&:hover {
		color:darken($linkColor1,20%);
		text-decoration:underline;
	}
	&:visited {
		color:darken($linkColor1,15%);	
	}
	&:active {
		color:darken($linkColor1,10%);	
	}

}

strong {
	font-weight:bold;
}



