.single-post {
	article.primary {
		border-bottom:1px solid #efefef;
		padding:0 0 20px 0;
		margin:0 0 20px 0;
		hgroup h1 {
			font-size:24px;
		}
	}
}

/*
article {
	padding:0 0 20px;
	border-bottom:1px solid $secondaryAccentColor;
	margin:0 0 20px;
	position:relative;
	
	ol {
		margin:0 0 1em;
		li {
			list-style-type:decimal;
			margin:0 0 .5em;
			line-height:$bodyCopyLineHeight;
		}
	}
	
	
	.wp-caption {
		max-width:100%;
	}
	.aligncenter,.alignleft,.alignright {
		height:auto;
		max-width:100%;
		
	}

	.aligncenter {
		clear:both;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.alignleft {
		float:left;
		margin:0 1em 1em 0;
	}
	.alignright {
		float:right;
		margin:0 0 1em 1em;
	}
}
*/