a.button {
	display:inline-block;
	text-decoration:none;
	background:$primaryLinkColor;
	color:#fff;
	font-size:12px;
	height:28px;
	line-height:26px;
	padding:0 15px;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	@include rounded(3px);
	@include shadow;
	@include NegativeTextShadow(lighten(#000,40%));
	&:hover {
		background:darken($primaryLinkColor,5%);
	}
}
