//color

$canvasColor:#fff;

$primaryTypeColor:#333;
$secondaryTypeColor:#666;
$tertiaryTypeColor:#999;

$primaryLinkColor:#cc692d;
$secondaryLinkColor:#666;
$tertiaryLinkColor:#999;

$knockOutColor:#333;
$primaryknockOutTypeColor:#fff;
$secondaryknockOutTypeColor:#ccc;
$tertiaryknockOutTypeColor:#777;
$primaryAccentColor:#666;
$secondaryAccentColor:#ccc;
$tertiaryAccentColor:#efefef;

//type

$defaultSerif:georgia,serif;
$defaultSansSerif:'helvetica neue',helvetica,arial, sans-serif;
$titlingFont:$defaultSansSerif;
$subHeadFont:$defaultSerif;
$bodyCopyFont:$defaultSerif;

$defaultFontSize:14px;
$bodyCopyLineHeight:1.5em;


//units
$unit1:1px;
$unit2:2px;
$unit3:3px;
$unit5:5px;
$unit10:10px;

//paths


//mixins

@mixin rounded($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;

}
@mixin shadow {
	-webkit-box-shadow: 0px 2px 0px hsla(0,0%,0%,.1);
	-moz-box-shadow: 0px 2px 0px  hsla(0,0%,0%,.1);
	box-shadow: 0px 2px 0px  hsla(0,0%,0%,.1);	
}

@mixin NegativeTextShadow($shadowColor) {
	text-shadow:0 -1px 0 $shadowColor;
}

@mixin transition {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

body {
	font-family:$defaultSansSerif;
	font-size:$defaultFontSize;
}

a {
	color:$primaryLinkColor;
	&:hover {
		color:darken($primaryLinkColor,20%);
		text-decoration:none;
	}
}

h1 {
	font-family:$titlingFont;
	font-size:24px;
	margin:0 0 1em;
	}
h2 {
	font-size:18px;
	margin:0 0 1em;
}
p {
	margin:0 0 1em;
	line-height:$bodyCopyLineHeight;
	font-family:$bodyCopyFont;
}
input[type="text"] {
	border:1px solid $secondaryAccentColor;
	padding:3px;
	font-family:$defaultSansSerif;
	font-size:12px;
	color:$secondaryTypeColor;
}