#logo {
	background:#ccc;
	width:100px;
	height:50px;
	line-height:50px;
	font-size:20px;
	position:absolute;
	top:25px;
	right:0;
	color:$primaryTypeColor;
	text-align:center;
}
#header-search {
	color:#fff;
}