#hero {
	height:300px;
	border:1px solid #ccc;
	margin:0 0 20px;
}
#promo-tiles {
}
#promo-tiles div{
	height:200px;
	background:#ccc;
	width:300px;
	float:left;
	margin-right:20px;
}
#promo-tiles div.last{
	margin-right:0;
}