header {
	nav#full-nav {
		//display:none;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background:$knockOutColor;
		a {
			display:block;
			color:$primaryknockOutTypeColor;
			text-decoration:none;
			padding:15px 20px;
			font-size:12px;
			height:12px;
			@include transition;
			&:hover {
				background:$knockOutColor/2; 
			}
		}
	}
	nav#mobile-nav {
		display:none;
	}
}

.current-menu-item,
body.post-type-archive-recipes .menu-item-756,
.single-recipes .menu-item-756,
body.post-type-archive-products .menu-item-751,
.single-products .menu-item-751
 {
	background:$knockOutColor*2;
}

.menu-primary-nav-container > ul > li {
	position:relative;	
	float:left;
	> a {
		float:left;
	}
	> ul {
		display:none;
		position:absolute;
		top:42px;
		left:0;
		background:$knockOutColor/2; 
		> li {
			width:200px;
		}
	}	
}

#support-links {
	font-size:12px;
	position:absolute;
	right:0;
	bottom:60px;
}
#cart a{
	display:block;
	position:absolute;
	right:0;
	background:$secondaryAccentColor;
	padding:10px 20px;
}