.product-filter {
	padding:5px 0;
	border-top:1px solid $secondaryAccentColor;
	border-bottom:1px solid $secondaryAccentColor;
	margin-bottom:20px;
	.limit,.sort {
		float:right;
		margin-left:20px;
	}
}

.product-images {
	float:left;
	width:240px;
}
.product-description {
	float:left;
	width:460px;
	margin-left:20px;
}

.cart {
	margin:20px 0;
}
.button {
	background:$primaryLinkColor;
	color:#fff;
	padding:5px 10px;
}

