@import "partials/_sass-local.scss";
@import "partials/_reset.scss";
@import "partials/_config.scss";


/*******LAYOUT MEDIA QUERIES ********/

/* mobile */
/*
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
*/



@media only screen
and (min-width:320px)
and (max-width:480px)
{
	@import "partials/mobile/_layout.scss";
	@import "partials/mobile/_header.scss";
	@import "partials/mobile/_nav.scss";
	@import "partials/mobile/_home.scss";
	@import "partials/mobile/_recipes-category.scss";
	@import "partials/mobile/_cart.scss";
	
}

/* iphone4 */




@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)
{
/* iphone4 hi-dpi images */


}




@media only screen
and (min-device-width: 768px)
and (min-width:768px)
{
	@import "partials/desktop/_layout.scss";
	@import "partials/desktop/_header.scss";
	@import "partials/desktop/_nav.scss";
	@import "partials/desktop/_home.scss";
	@import "partials/desktop/_recipes-category.scss";
	@import "partials/desktop/_cart.scss";
}


/* some default styling */
html {
	overflow: -moz-scrollbars-vertical;
	-webkit-font-smoothing: subpixel-antialiased;
}

body {
	//@include backgroundImage('img/assets/home-hero-background.png',0 0,repeat);
	background-color:$canvasColor;
	font-family:$serif1;
	font-size:$baseFontSize;
}

a {
	color:$linkColor1;
	text-decoration:none;
	&:hover {
		color:darken($linkColor1,20%);
		text-decoration:underline;
	}
	&:visited {
		color:darken($linkColor1,15%);	
	}
	&:active {
		color:darken($linkColor1,10%);	
	}

}

strong {
	font-weight:bold;
}


/****  imports  ******/

/* common */
@import "partials/common/_buttons.scss";
@import "partials/common/_footer.scss";
@import "partials/common/_social-elements.scss";
@import "partials/common/_pagination.scss";
@import "partials/common/_sidebar-widgets.scss";
@import "partials/common/_comments.scss";
@import "partials/common/_notifications.scss";
@import "partials/common/_ratings.scss";

/* blog views */
@import "partials/common/_blog-single.scss";
@import "partials/common/_blog-category.scss";

/* product views */
@import "partials/common/_products-single.scss";
@import "partials/common/_products-category.scss";

/* recipe views */
@import "partials/common/_recipes-single.scss";
@import "partials/common/_nutrition-label.scss";

/* cart/checkout */
@import "partials/common/_checkout.scss";



