@import "partials/_reset.scss";
@import "partials/_config.scss";
article {
	
	h1 {
		font-size:1.5em;
		margin:0 0 1em;
	}
	h2 {
		font-size:1.2em;
		margin:0 0 1em;
	}
	p {
		margin:0 0 1em;
	}
	ol {
		margin:0 0 1em;
		li {
			list-style-type:decimal;
			margin:0 0 .5em;
		}
	}
}
